@import "tailwindcss";

@theme {
  --color-neon-red: #DC2626;
  --color-neon-blue: #00f0ff;
  --font-cyber: "Courier New", Courier, monospace;

  --animate-scan: scan 4s linear infinite;
  --animate-flicker: flicker 2s infinite;

  @keyframes scan {
    0% {
      top: -100%;
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      top: 200%;
      opacity: 0;
    }
  }

  @keyframes pulse-red-glow {

    0%,
    100% {
      filter: drop-shadow(0 0 20px rgba(220, 38, 38, 0.4));
      transform: scale(1);
    }

    50% {
      filter: drop-shadow(0 0 50px rgba(220, 38, 38, 0.8));
      transform: scale(1.02);
    }
  }

  @keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
      opacity: 0.99;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
      opacity: 0.4;
    }
  }
}

body {
  background-color: black;
  color: white;
  font-family: var(--font-cyber);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #1a0000;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-neon-red);
}

.clip-path-slant {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 95% 100%, 0 100%);
}

.shadow-neon {
  box-shadow: 0 0 10px rgba(220, 38, 38, 0.5), 0 0 20px rgba(220, 38, 38, 0.3);
}

.text-stroke-red {
  -webkit-text-stroke: 1px var(--color-neon-red);
  color: transparent;
}

.font-rye {
  font-family: 'Rye', serif;
}

.font-sancreek {
  font-family: 'Sancreek', serif;
}

.font-kalnia {
  font-family: 'Kalnia', serif;
}

.font-cinzel {
  font-family: 'Cinzel', serif;
}